<ion-view style="" class=" " id="infobarang" title="{{title}}">
<ion-content class="has-header"  padding="true" overflow-scroll="false" has-bouncing="true">

<center><ion-spinner ng-hide="ilang"  icon="android"></ion-spinner></center>
      <form style="" ng-show="ilang" class="list">
          <label style="padding-bottom:2px !important;" class="item item-input " ng-repeat="(key,value) in detail">
              <h2 style="padding-bottom:2px !important;">{{key.replace("_"," ")}}</h2>
              <span>{{value}}</span>
          </label>
          <button class="button button-balanced  button-block" ng-click="editlaporan()" id="laporan-button7" ng-show="edit">EDIT LAPORAN</button>
      </form>

  </ion-content>
  </ion-view>
