<ion-view style="" class=" " id="page3" title="Laporan">
  <ion-content class="has-header" padding="true">
    <form style="" class="list">
              <label style="" name="kode" class="item item-input">
                  <span class="input-label">Kode Barang</span>
                  <input placeholder="" type="text">
              </label>
              <label style="" name="penempatan" class="item item-input">
                  <span class="input-label">Penempatan</span>
                  <input placeholder="" type="text">
              </label>
              <h4 style="color: rgb(0, 0, 0);" id="laporan-heading2">Kondisi</h4>
              <ion-radio style="" name="kondisi">layak</ion-radio>
              <ion-radio style="" name="kondisi">tidak layak</ion-radio>
              <ion-radio style="" name="kondisi">sangat layak</ion-radio>
              <h4 style="color: rgb(0, 0, 0);" id="laporan-heading3">keterangan</h4>
              <label style="" name="keterangan" class="item item-input">
                  <span class="input-label"></span><textarea placeholder=""> </textarea>
              </label>
          </form>
          <button class="button button-balanced  button-block" id="laporan-button7">Submit</button>
  </ion-content>
</ion-view>
