<ion-view style="" class=" "  id="page5" title="Notifikasi Masuk">
<style>
.perminta0{background-color: green;color: white;}
.berakhir0{background-color: red;color: white;}
.jawaban0{background-color: yellow;color: black;}
.service0{background-color: blue;color: white;}
.laporan0{background-color: black;color: white;}

</style>

    <ion-content  class="has-header" padding="true" >
      <ion-refresher
         pulling-text="Tarik untuk merefresh notifikasi anda..."
         on-refresh="refresh()"
        >
       </ion-refresher>
      <label class="item-input-wrapper item-input">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="search" placeholder="Cari notifikasi anda service,berakhir, atau jawaban">
      </label>
  <center><ion-spinner ng-show="ilang"  icon="android"></ion-spinner></center>
      <div class="card" ng-repeat="tanggal in tanggalakhir | filter:search"  >
        <div class="item item-divider {{tanggal.jenis.substring(0,8).trim()+tanggal.status}}">
          {{tanggal.jenis}}
        </div>
        <ion-item class="item item-text-wrap"  on-tap="onTap(tanggal)" >
          {{tanggal.kode_barang}}<br><br>
          <h3>{{konversitanggal(tanggal.tanggal)}}</h3>
        </ion-item>
      </div>

    </ion-content>
</ion-view>
